{{> header pageName='profile'}}
				{{#if user}}
				<script type="text/javascript">
					var username = "{{user.displayName}}" || "{{user.username}}";
				</script>
				<div class="jumbotron container welcome-box">
					{{#if user.displayName}}
					<h2>Welcome, {{user.displayName}}!</h2>
					<p>This is your profile page.</p>
					{{else}}
					
					<h2>Welcome, {{user.username}}!</h2>
					<p>This is your profile page.</p>
					{{/if}}
					
				</div>
				<div class="container headline">
					<h3>Chat with other hikers</h3>
				</div>	
				<div class="col-md-2">
				</div>
				<div class="col-md-4">
					<!-- list of messages -->
					<ul id="messages"></ul>	
				</div>
				<div class="col-md-4">
					
					
				<!-- form to send a new message -->
				<form id="send-msg">
					<div class="input-group">
						<input type="text" autocomplete="off" class="form-control" id="new-msg" placeholder="Your message" autofocus>
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">Send</button>
						</span>
					</div>
				</form>
			</div>
			{{/if}}
			<div class="col-md-2">
			</div>
			<!-- jquery -->
			<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
			<!-- bootstrap js -->
			<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
			<!-- handlebars -->
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
			<!-- socket.io -->
			<script type="text/javascript" src="/socket.io/socket.io.js"></script>
			<!-- custom script -->
			<script type="text/javascript" src="profile.js"></script>
			<!-- <script type="text/javascript" src="takeahike.js"></script> -->
		</body>
	</html>