<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- set viewport to device width to make site responsive -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- bootstrap css -->
		<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- custom styles -->
		<link rel="stylesheet" type="text/css" href="main.css">
		<link rel="stylesheet" type="text/css" href="takeahike.css">
		
		<title>Hikes near me</title>
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Take a hike</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<form class="form-inline" method="get" action="takeahike">
						<div class="form-group">
							<input type="text" name="zipcode" class="form-control" placeholder="Enter zip code">
							<button type="submit" class="btn btn-default">Go!</button>
						</div>
					
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/login">Log in</a></li>
						<li><a href="/signup">Sign up</a></li>
					</ul>
					</form>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		<script id="meetup-results-template" type="text/x-handlebars-template">
			\{{#each events}}
				<h3>\{{name}}</h3>
				<p>\{{group.name}}</p>
				<p>\{{venue.address_1}}</p>
				<p>\{{venue.city}}</p>
				<p>\{{event_url}}</p>
				<p>\{{venue.lat}}</p>
				<p>\{{venue.lon}}</p>
			\{{/each}}
		</script>
		<div class="row">
			<div class="meetup-results col-md-4"></div>
			
			<div class="col-md-8">
				<div id="map"></div>
			</div>
		</div>
				
		<!-- jquery -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<!-- bootstrap js -->
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<!-- handlebars -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
		<!-- custom script -->
		<script type="text/javascript" src="main.js"></script>
		<script type="text/javascript" src="takeahike.js"></script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRuo9eqQBk5umxACJHmsGgPMbvfbD1zh0&callback=initMap"></script>
	</body>
</html>