{{> header pageName='takeahike'}}

		<div class="container-fluid">
			<div class="row takeahike-page">
				<div class="meetup-results col-sm-4"></div>
				<script id="meetup-results-template" type="text/x-handlebars-template">
				\{{#each events}}
					<h3>\{{name}}</h3>
					<p>\{{group.name}}</p>
					<p>\{{venue.address_1}}</p>
					<p>\{{venue.city}}, \{{venue.state}}</p>
					<p><a href="\{{event_url}}" target="_blank" class="btn btn-default">Meetup website</a></p> 
				\{{/each}}
				</script>
			</div>
		</div>

		<div class="fix-map">
			<div id="map"></div>
		</div>
				
		<!-- jquery -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<!-- bootstrap js -->
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<!-- handlebars -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
		<!-- custom script -->
		<script type="text/javascript" src="takeahike.js"></script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRuo9eqQBk5umxACJHmsGgPMbvfbD1zh0&callback=initMap"></script>
	</body>
</html>